faiss_cpu==1.11.0
fitz==0.0.1.dev2
Flask==3.1.1
llama_api_client==0.1.1
numpy==2.3.1
opencv_python==4.11.0.86
opencv_python_headless==4.10.0.84
Pillow==11.2.1
python-dotenv==1.1.0
Requests==2.32.4
roboflow==1.1.66
scikit_learn==1.7.0
sentence_transformers==4.1.0
